//Page colors
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$body-color: #777;
$white: #fff;
$img-border-color: #ccc;
$btn-hover-color: rgb(6, 56, 222);

//Font
$base-font:'Lato', sans-serif;


//Button-colors
$default-btn: #51ddfc;
$info-btn: #927bc1;
$success-btn: #63cc82;
$warning-btn: #fd7856;
$error-btn: #e4757a;

//Media Query Breakpoints
$break-point: "(min-width: 768px)";
$max-width: 1140px;

